* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-text-stroke: 0.0625rem white;
    font-family: sans;
    color: black;
    background: url('../resources/image.png') no-repeat center center fixed;
}
.header {
    width: 100vw;
    height: auto;
}
.nav {
    width: 60vw;
    height: auto;
    margin: 0 auto;
}
.body {
    margin: 2%;
}
.ulMenu {
    list-style: none;
}
.liOptions {
    float: left;
}
.ulMenu .liOptions a {
    margin: 0 5vw;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.6em;
    line-height: 2.2em;
}
.ulMenu .liOptions a:hover {
    color: rgb(100, 100, 100);
}
#biography, #filmography {
    display: none;
}
#filmography {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#filmography td {
    border: 1px solid #ddd;
    padding: 8px;
}
#filmography tr:hover {
    background-color: #ddd;
}
.title {
    cursor: pointer;
}
.title:hover {
    color: grey;
}
a {
    text-decoration: none;
}
a:visited {
    color: rebeccapurple;
}
a:hover {
    color: hotpink;
    text-decoration: underline;
}
legend {
    font-size: 2em;
}
fieldset {
    padding: 1em;
}
.right {
    float: right;
    width: 50%;
    padding: 2%;
}
.left {
    float: left;
    width: 50%;
    padding: 2%;
}
.title {
    margin: auto;
    width: 40%;
    padding: 5%;
}




div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }