* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-image: url('../resources/image.jpg');
    background-size: contain;
    color: white;
}
.header {
    width: 100vw;
    height: auto;
}
.nav {
    width: 60vw;
    height: auto;
    margin: 0 auto;
}
.body {
    margin: 10% 2% 2%;
}
.ulMenu {
    list-style: none;
}
.liOptions {
    float: left;
}
.divMenu {
    position: absolute;
    padding-top: 5%;
}
.ulMenu .liOptions a {
    margin: 0 5vw;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 1.3em;
    line-height: 2.2em;
    position: relative;
}
.ulMenu .liOptions a:hover {
    color: rgb(100, 100, 100);
}
td {
    padding: 2rem;
}
.container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
.containerInfo {
    display: flex;
    flex-direction: row;
}
.containerContact {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.divImage, .divInfo {
    padding: 2%;
    flex: 50%;
    cursor: pointer;
}
.padding5 {
    padding: 1rem
}
.content {
    width: 100%;
}
.floatRight {
    float: right;
    width: 40%;
}
.floatLeft {
    float: left;
    width: 40%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .active {
    font-size: 1.8rem !important;
  }
  .close {
    position: absolute;
    top: 15%;
    font-size: 4rem;
    right: 5%;
    cursor: pointer;
    -webkit-text-stroke: 0.03em black;
    font-family: sans;
    color: red;
  }
  .hidden {
    display: none;
    background-size: contain;
  }
  #modal {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1%;
    width: 100%;
    position: absolute;
    top: 5%;
    border: 4mm ridge rgba(211, 220, 50, .6);
  }
  .video {
    width: 50%;
    margin-left: 20%;
    margin-top: 15%;
    float: left;
    margin-left: 1%;
    padding: 1rem;
  }